.contenedor{
    width: 100%;
    height: 1400px;
    background-color: aqua;
}
.encabezado{
background-color: blue;
width: 100%;
height: 150px;
font-size: 40px;
text-align: center;
color: blanchedalmond;
font-family: Arial, Helvetica, sans-serif;
}
.menu{
    background-color: chartreuse;
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 14px;
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
.contenedor2{
    width: 20%;
    height: 1200px;
    background-color: brown;
}
.izquierda{
    width: 33%;
    height: 1200px;
    background-color: coral;
    background-image: url(Frases20-336x442.jpg);
    background-repeat: repeat-y;
}
.centro{
    width: 33%;
    height: 1200px;
    background-color: darkorange;
    font-size: 20px;
    text-align: center;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images.jpg);
    background-repeat: repeat-y;
}
.derecha{
    width: 33%;
    height: 1200px;
    background-color: yellow;
    font-size: 25px;
    text-align: center;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(la-foto.jpg);
    background-repeat: repeat-y;
}
.tecnologuia{
    width: 120px;
    height: 78px;
    margin: 2px;
    background-color: blueviolet;
}
.sociales{
    width: 120px;
    height: 78px;
    margin: 2px;
    background-color: blueviolet;
}
.ingles{
    width: 120px;
    height: 78px;
    margin: 2px;
    background-color: blueviolet;
}
.matematicas{
    width: 120px;
    height: 78px;
    margin: 2px;
    background-color: blueviolet;
}
.biologia{
    width: 120px;
    height: 78px;
    margin: 2px;
    background-color: blueviolet;
}